{% extends 'base.html' %}
{% block title %}Uploaded Images - Mobile Addiction Detector{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Uploaded Images</h2>
    <div class="row">
        {% for image in images %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ image.image.url }}" class="card-img-top" alt="Uploaded Image">
                    <div class="card-body">
                        <p class="card-text">Uploaded at: {{ image.uploaded_at }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No images uploaded yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

